<!doctype HTML>

<html>
    <head>
        <title>Telemetry</title>
        <style>
            #graph1 {
                max-width: 800px;
                height: 400px;
            }
        </style>
    </head>
    <body>
        <canvas id='graph1' width="400px" height="400px"></canvas>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain);
            socket.on('push', function(data) {
                pushData(data.num);
            });

            function newDate(days) {
                return moment().add(days, 'h').toDate();
            }

            var counter = -9
            function pushData(num) {
                if(data.length > 24) {
                    data.shift();
                    labels.shift();
                }
                labels.push(newDate(counter++));
                data.push(num);
                chart.update(50, true);
            }

            var ctx = "graph1"

            Chart.defaults.global.maintainAspectRatio = false;
            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.tooltips.enabled = true;

            var labels = [newDate(-12), newDate(-11), newDate(-10)];
            var data = [72, 75, 73];

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '',
                        data: data,
                        borderColor: "rgba(220,20,20,1)",
                        backgroundColor: "rgba(220,20,20,0.5)"
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                unit: 'hour',
                                round: 'hour',
                                displayFormats: {
                                    hour: 'hh a'
                                }
                            },
                            ticks: {
                                'autoskip': true
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMin: 65,
                                suggestedMax: 80
                            }
                        }]
                    }
                }
            });
        </script>
    </body>
</html>