{% extends "dashboard/dashboard.html" %}
{% block title %}Dashboard home{% endblock %}

{% block head %}
{{ super() }}

<style>
    .dash-left {
        display: flex;
        flex-flow: column;
    }

    .main-graph {
        min-height: 30vh;
    }

    .card-data {
        margin-bottom: 10px;
    }

    .card-info {
        margin-left: 12em;
    }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container col s12">
    <div class="row">
        <div class="col s5">
            <div class="dash-left">
                <div class="card">
                    {% if broadcasting %}
                    <div class="card-content white-text red">
                        <span class="card-title">Main Network is down<br/>Hosting network "Telos"</span>
                    </div>
                    {% else %}
                    <div class="card-content white-text green">
                        <span class="card-title">Operating Normally</span>
                    </div>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-content white-text blue">
                        <span class="card-title">{{sensors|length}} Sensors connected</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content white-text amber darken-2">
                        <span class="card-title">0 Warnings</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content white-text red">
                        <span class="card-title">0 Alerts</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="card">
                {% if sensors|length > 0 %}
                <div class="card-content">
                    <span class="card-title">
                        {{ sensors[0].name }}
                        <span class='card-info'>
                            <div class="chip"><span id='temp-display'>{{ sensors[0].current.temp }}</span>&deg;F</div>
                            <div class="chip"><span id='occ-display'>{{ sensors[0].current.occupancy }}</span> Occupants</div>
                            {% if sensors[0].current.gas %}
                                <div class="chip green lighten-2">Gas OK</div>
                            {% else %}
                                <div class="chip red lighten-2">Gas Dangerous</div>
                            {% endif %}
                        </span>
                    </span>

                    <div>
                        <canvas id="main-graph" height="400"></canvas>
                    </div>
                </div>
                {% else %}
                    <span class="card-title">
                        No data to display
                    </span>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var graph;
    $(document).ready(function() {
        graph = createGraph('main-graph');
        lastMinute(graph);
        dataListen(graph);
    });
</script>
{% endblock %}